<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Index</title>
        <h:outputStylesheet name="css/estilo.css" />
    </h:head>
    <h:body>
        <div align="center">
            <p:graphicImage name="img/banner.png" class="img-responsive" />
        </div>
        
        <div align="center">
            <h:form id="formMenu">
                <p:menubar>
                    <p:menuitem value="Inicio" url="index.xhtml" icon="pi pi-home" />
                    
                    <p:submenu label="Encuestas">
                        <p:menuitem value="Encuestadores" url="encuestador.xhtml" />
                        <p:menuitem value="Encuestas" url="encuesta.xhtml" />
                    </p:submenu>
                    
                    <p:submenu label="Predios">
                        <p:menuitem value="Uso comercial" url="uso_comercial.xhtml" />
                        <p:menuitem value="Predios" url="predio.xhtml" />
                    </p:submenu>
                    
                    <p:submenu label="Suscriptores">
                        <p:menuitem value="Suscriptores" url="suscriptor.xhtml" />
                        <p:menuitem value="Servicios" url="servicio.xhtml" />
                    </p:submenu>
                    
                    <p:menuitem value="Cerrar sesión" url="#" icon="pi pi-sign-out" />
                </p:menubar>
            </h:form>
        </div>
        
        <br/>
        
        <div align="center">
            <p:graphicImage name="img/principal.png" class="img-responsive" />
        </div>
    </h:body>
</html>

