<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Suscriptor</title>
        <h:outputStylesheet name="css/estilo.css" />
    </h:head>
    <h:body>
        <div align="center">
            <p:graphicImage name="img/banner.png" class="img-responsive" />
        </div>
        
        <div align="center">
            <h:form id="formMenu">
                <p:menubar>
                    <p:menuitem value="Inicio" url="index.xhtml" icon="pi pi-home" />
                    
                    <p:submenu label="Encuestas">
                        <p:menuitem value="Encuestadores" url="encuestador.xhtml" />
                        <p:menuitem value="Encuestas" url="encuesta.xhtml" />
                    </p:submenu>
                    
                    <p:submenu label="Predios">
                        <p:menuitem value="Uso comercial" url="uso_comercial.xhtml" />
                        <p:menuitem value="Predios" url="predio.xhtml" />
                    </p:submenu>
                    
                    <p:submenu label="Suscriptores">
                        <p:menuitem value="Suscriptores" url="suscriptor.xhtml" />
                        <p:menuitem value="Servicios" url="servicio.xhtml" />
                    </p:submenu>
                    
                    <p:menuitem value="Cerrar sesión" url="#" icon="pi pi-sign-out" />
                </p:menubar>
            </h:form>
        </div>
        
        <br/>
        
        <h:form id="form">
            <p:panel id="panel" header="Suscriptor">
                <p:messages id="mensajes" showDetail="true" closable="true" />
                <p:panelGrid id="panelgrid" columns="4">
                    <h:outputText value="Documento:" />
                    <p:inputText id="txtDocumento" binding="#{suscriptorView.txtDocumento}" />
                    
                    <h:outputText value="Tipo documento:" />
                    <p:selectOneMenu id="selectTipoDocumento" binding="#{suscriptorView.selectTipoDocumento}" >
                        <f:selectItem itemLabel="Seleccione" itemValue="" />
                        <f:selectItem itemLabel="CC" itemValue="CC" />
                        <f:selectItem itemLabel="CE" itemValue="CE" />
                        <f:selectItem itemLabel="PASAPORTE" itemValue="PASAPORTE" />
                        <f:selectItem itemLabel="TI" itemValue="TI" />
                    </p:selectOneMenu>
                    
                    <h:outputText value="Primer nombre:" />
                    <p:inputText id="txtPrimerNombre" binding="#{suscriptorView.txtPrimerNombre}" />
                    
                    <h:outputText value="Segundo nombre:" />
                    <p:inputText id="txtSegundoNombre" binding="#{suscriptorView.txtSegundoNombre}" />
                    
                    <h:outputText value="Primer apellido:" />
                    <p:inputText id="txtPrimerApellido" binding="#{suscriptorView.txtPrimerApellido}" />
                    
                    <h:outputText value="Segundo apellido:" />
                    <p:inputText id="txtSegundoApellido" binding="#{suscriptorView.txtSegundoApellido}" />
                    
                    <h:outputText value="Email:" />
                    <p:inputText id="txtEmail" binding="#{suscriptorView.txtEmail}" />
                    
                    <h:outputText value="Teléfono:" />
                    <p:inputText id="txtTelefono" binding="#{suscriptorView.txtTelefono}" />
                    
                    <f:facet name="footer">
                        <div align="center">
                            <p:commandButton id="btnCrear" action="#{suscriptorView.insert()}" update="form" binding="#{suscriptorView.btnCrear}" style="margin-right: 5px;" value="Crear" />
                            <p:commandButton id="btnModificar" action="#{suscriptorView.update()}" update="form" binding="#{suscriptorView.btnModificar}" disabled="true" style="margin-right: 5px;" value="Modificar" styleClass="ui-button-secondary" />
                            <p:commandButton id="btnEliminar" action="#{suscriptorView.delete()}" update="form" binding="#{suscriptorView.btnEliminar}" disabled="true" style="margin-right: 5px;" value="Eliminar" styleClass="ui-button-danger" >
                                <p:confirm header="Confirmación" message="¿Está seguro de eliminar el registro?" />
                            </p:commandButton>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" />
                            </p:confirmDialog>
                            <p:commandButton id="btnLimpiar" action="#{suscriptorView.clear()}" update="form" value="Limpiar" styleClass="ui-button-success"/>
                        </div>
                    </f:facet>
                </p:panelGrid>
                
                <p>
                    <p:separator />
                </p>
                
                <p:dataTable id="datatable" value="#{suscriptorView.listSuscriptores}" 
                             selectionMode="single" paginator="true" rows="5" 
                             emptyMessage="No existen suscriptores" var="suscriptor" rowKey="#{suscriptor.documento}" >
                    
                    <p:ajax event="rowSelect" listener="#{suscriptorView.rowSelect}" update=":form:panelgrid" />
                    
                    <p:column headerText="Documento" style="text-align: center;" 
                              filterMatchMode="contains" filterBy="#{suscriptor.documento}">
                        <h:outputText value="#{suscriptor.documento}" />
                    </p:column>
                    
                    <p:column headerText="Nombre" style="text-align: center;">
                        <h:outputText value="#{suscriptor.primerNombre} #{suscriptor.segundoNombre} #{suscriptor.primerApellido} #{suscriptor.segundoApellido}" />
                    </p:column>
                    
                    <p:column headerText="Email" style="text-align: center;">
                        <h:outputText value="#{suscriptor.email}" />
                    </p:column>
                    
                </p:dataTable>
                
                <div align="center">
                    <h:commandLink>
                        <p:graphicImage name="img/pdf.png" />
                        <p:dataExporter type="pdf" target="datatable" fileName="suscriptores" />
                    </h:commandLink>
                    
                    <h:outputText value=" | " />
                    
                    <h:commandLink>
                        <p:graphicImage name="img/xls.png" />
                        <p:dataExporter type="xls" target="datatable" fileName="suscriptores" />
                    </h:commandLink>                    
                </div>                
                
            </p:panel> 
        </h:form>
    </h:body>
</html>

