<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sesón caducada </title>
        <h:outputStylesheet name="css/estilo.css" />
        <h:outputScript name="js/timer.js"/>
    </h:head>
    <h:body onload="begintimer()">
        <div class="ui-fluid" aling="center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">

                        <h1>Sesón caducada </h1>

                    </div>

                </div>

                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12">

                        <h:outputText value="No ha iniciado seón o esta ha caducado "/>

                    </div>

                </div>


                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12">

                        <p:graphicImage name="img/sesion_caducada.png" class="img-responsive o"/>

                    </div>

                </div>
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-12">

                        <h:outputText value="Será direccionado a la pagina principal en " />
                        <span id="tiempo"></span>
                    </div>

                </div>


            </div>
        </div>

    </h:body>
</html>

