/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21/10/2022, 11:30:53 AM
    Author     : Aprendiz
*/

/* clase para dar espacio a los botones */
.margin-button
{
    margin-right: 5px;
}

.img-responsive
{
    width: 50%; 
    display: block; 
} 
/*margen superio para las row del grid css*/
.top-buffer{
    margin-top: 10px;
}
/*margen a la derecha*/
.rigth-buffer{
    margin-right: 5px;
}

#tiempo{
    color: #ff0000;
    font-weight: bold;
}
.o{
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;   
}